@import "tailwindcss";

@font-face {
    /* For all text */
  font-family: 'font1';
  src: url('/fonts/font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    /* For specif text */
  font-family: 'font2';
  src: url('/fonts/font2.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    /*  For hading */
  font-family: 'font3';
  src: url('/fonts/font3.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rotate360 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.hover\:rotate-360:hover {
  animation: rotate360 0.5s ease-in-out;
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.delay-100 {
  animation-delay: 100ms;
}

